@font-face {
    font-family: 'Museo Sans Cyrl 300';
    font-style: normal;
    font-weight: normal;
    src: local('Museo Sans Cyrl 300'), url('./fonts/MuseoSansCyrl_0.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Museo Sans Cyrl 100';
    font-style: normal;
    font-weight: normal;
    src: local('Museo Sans Cyrl 100'), url('./fonts/MuseoSansCyrl.woff') format('woff');
    }
    
    @font-face {
    font-family: 'Museo Sans Cyrl 500';
    font-style: normal;
    font-weight: normal;
    src: local('Museo Sans Cyrl 500'), url('./fonts/MuseoSansCyrl_1.woff') format('woff');
    }
    
    @font-face {
    font-family: 'Museo Sans Cyrl 700';
    font-style: normal;
    font-weight: normal;
    src: local('Museo Sans Cyrl 700'), url('./fonts/MuseoSansCyrl_2.woff') format('woff');
    }
    
    /* Custom Styles */
    body {
        font-family: 'Museo Sans Cyrl 300';
        margin:0;
        font-size: 11pt;
    }